#!/usr/bin/env bash

export STR_ENVIRONMENT='local'

# Database details.
export STR_DB_SUFFIX='local'
export STR_DB_CONNECTION_POOL_SIZE='10'
export STR_DB_HOST='postgres'
export STR_DB_PORT='5432'
export STR_DB_USER='admin'
export STR_DB_PASSWORD='rootPassword'
export STR_DEFAULT_DB=''

# memcached details
export STR_MEMCACHED_SERVER_ADDRESS="127.0.0.1:11211"
export STR_CACHE_KEY_PREFIX='local'

# RabbitMQ details
export STR_RABBITMQ_HOST='rabbitmq'
export STR_RABBITMQ_PORT=5672
export STR_RABBITMQ_USERNAME='admin'
export STR_RABBITMQ_PASSWORD='rootPassword'

# Google Drive
export STR_GOOGLE_AUTH_CREDS=''

# OpenAI
export STR_OPENAI_KEY=''

# API Base URL
export STR_API_BASE_URL='localhost:3000'
